<!--
  Generated template for the ViewerShowpatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title padding>
      <img alt="logo" class="title-image" src="assets/imgs/logo_horizontal.png">
    </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="ดึงเพื่อโหลดใหม่..." refreshingText="กำลังโหลดใหม่...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card>
    <ion-card-header text-center>
      <ion-avatar *ngIf='myprofile.gender!="หญิง"'>
        <img src="../../assets/icon/man.png">
      </ion-avatar>
      <ion-avatar *ngIf='myprofile.gender=="หญิง"'>
        <img src="../../assets/icon/woman.png">
      </ion-avatar>

      <h1 padding-top strong>{{myprofile.fname}} {{myprofile.lname}}</h1>
    </ion-card-header>
    <ion-card-content *ngIf='PERSON != {}'>
      <ion-row no-padding>
        <ion-col *ngIf='myprofile.gender==="ชาย"'>
          <ion-icon name='man' color="dark"></ion-icon> {{myprofile.gender}}
        </ion-col>
        <ion-col *ngIf='myprofile.gender==="หญิง"'>
          <ion-icon name='woman' color="dark"></ion-icon> {{myprofile.gender}}
        </ion-col>
        <ion-col *ngIf='myprofile.gender===null'>
          <ion-icon name='help'></ion-icon> ไม่ทราบ
        </ion-col>
        <ion-col>
          <ion-icon name='calendar' color="dark"></ion-icon> {{myprofile.birthdate | date : format : timezone}}
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col>
          <ion-icon name='water' color="blood"></ion-icon> Group {{PERSON.ABOGROUP}}
        </ion-col>
        <ion-col>
          <ion-icon name='water' color="blood"></ion-icon> RH Group {{PERSON.RHGROUP}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-list *ngIf='myprofile.status == 2'>
    <ion-list-header>ประวัติของฉัน</ion-list-header>
    <ion-item no-lines text-center *ngIf="startSpinner">
      <ion-spinner></ion-spinner>
    </ion-item>
    <ion-item id="ACCIDENT" (click)="goToPatientAccidentPage()" *ngIf='cardL[0]>0'>
      <ion-icon name="flame" item-start></ion-icon>ประวัติอุบัติเหตุ
    </ion-item>
    <ion-item id="ADMISSION" (click)="goToPatientAdmissionPage()" *ngIf='cardL[1]>0'>
      <ion-icon name="pulse" item-start></ion-icon>ประวัติการแอดมิท
    </ion-item>
    <ion-item id="APPOINTMENT" (click)="goToPatientAppointmentPage()" *ngIf='cardL[2]>0'>
      <ion-icon name="calendar" item-start></ion-icon>ประวัติการนัดแพทย์
    </ion-item>
    <ion-item id="DRUG" (click)="goToPatientDrugPage()" *ngIf='cardL[3]>0'>
      <ion-icon name="medkit" item-start></ion-icon>ประวัติจ่ายยา
    </ion-item>
    <ion-item id="DISABILITY" *ngIf='cardL[4]>0'>
      <ion-icon name="walk" item-start></ion-icon>ประวัติความพิการ
    </ion-item>
    <ion-item id="CHRONIC" *ngIf='cardL[5]>0'>
      <ion-icon name="information-circle" item-start></ion-icon>ประวัติโรคเรื้อรัง
    </ion-item>
    <ion-item id="DRUGALLERGY" (click)="goToPatientDrugallergyPage()" *ngIf='cardL[6]>0'>
      <ion-icon name="close-circle" item-start></ion-icon>ประวัติการแพ้ยา
    </ion-item>
    <ion-item id="LAB" (click)="goToPatientLabPage()" *ngIf='cardL[7]>0'>
      <ion-icon name="clipboard" item-start></ion-icon>ผลห้องแล็บ
    </ion-item>
    <ion-item id="SERVICE" (click)="goToPatientServicePage()" *ngIf='cardL[8]>0'>
      <ion-icon name="medical" item-start></ion-icon>ประวัติการรับบริการ
    </ion-item>
  </ion-list>

</ion-content>
